<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Metas -->
  <title>AgroNOW</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Site CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="assets/css/responsive.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">

  <!--[if lt IE 9]>
      <script src="assets/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="assets/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <!-- Start Main Top -->
  <header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
      <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="index.html"><img src="#" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="dropdown">
              <a href="/shop" class="nav-link dropdown-toggle arrow active">SHOP</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
          <ul>
            <li class="side-menu">
              <a href="/cart">
                <i class="fa fa-shopping-bag"></i>
                <span class="badge">3</span>
                <p class="active">My Cart</p>
              </a>
            </li>
            <li>
              <a href="/signin">Sign In</a>
            </li>
        </div>
        </ul>
      </div>
      <!-- End Atribute Navigation -->
      </div>
    </nav>
    <!-- End Navigation -->
  </header>
  <!-- End Main Top -->

  <!-- Start Top Search -->
  <div class="top-search">
    <div class="container">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
      </div>
    </div>
  </div>
  <!-- End Top Search -->

  <!-- Start All Title Box -->
  <div class="all-title-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Cart</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active">Cart</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End All Title Box -->

  <!-- Start Cart  -->
  <div class="cart-box-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-main table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Images</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="thumbnail-img">
                    <a href="#">
                      <img src="/shop/<%= data.item_id %>" class="img-fluid" alt="Image">
                    </a>
                  </td>
                  <td class="name-pr">
                    <a class="remove">
                      <%= data.item_name %>
                    </a>
                  </td>
                  <td class="price-pr">
                    <p class="remove"><%= data.rate %></p>
                  </td>
                  <td class="quantity-box"><input type="number" size="4" value="1" min="0" step="1" class="c-input-text qty text"></td>
                  <td class="total-pr">
                    <p class="remove"></p>
                  </td>
                  <td class="remove-pr">
                    <a href="#" onclick="remove()">
                      <i class="fas fa-times"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-lg-6 col-sm-6">
          <div class="coupon-box">
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-lg-12 col-sm-12"></div>
        <div class="col-lg-12 col-sm-12">
          <div class="order-box">
            <h3>Order summary</h3>
            <div class="d-flex">
              <h4>Sub Total</h4>
              <div class="ml-auto font-weight-bold"> ₹ 130 </div>
            </div>
            <div class="d-flex">
              <h4>Discount</h4>
              <div class="ml-auto font-weight-bold"> ₹ 40 </div>
            </div>
            <hr class="my-1">
            <div class="d-flex">
              <h4>Coupon Discount</h4>
              <div class="ml-auto font-weight-bold"> ₹ 10 </div>
            </div>
            <div class="d-flex">
              <h4>Tax</h4>
              <div class="ml-auto font-weight-bold"> ₹ 2 </div>
            </div>
            <div class="d-flex">
              <h4>Shipping Cost</h4>
              <div class="ml-auto font-weight-bold"> Free </div>
            </div>
            <hr>
            <div class="d-flex gr-total">
              <h5>Grand Total</h5>
              <div class="ml-auto h5"> ₹ 388 </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="col-lg-12 d-flex shopping-box"><a href="/checkout" class="ml-auto btn hvr-hover">Checkout</a> </div>
      </div>
      <br>
      <br>
    </div>
  </div>
  <!-- End Cart -->


  <!-- ALL JS FILES -->
  <script>
    function remove() {
      var button = document.getElementById('remove');
      button.textContent = '';
    }
  </script>
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- ALL PLUGINS -->
  <script src="assets/js/jquery.superslides.min.js"></script>
  <script src="assets/js/bootstrap-select.js"></script>
  <script src="assets/js/inewsticker.js"></script>
  <script src="assets/js/bootsnav.js."></script>
  <script src="assets/js/images-loded.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/baguetteBox.min.js"></script>
  <script src="assets/js/form-validator.min.js"></script>
  <script src="assets/js/contact-form-script.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>
