<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Metas -->
  <title>AgroNOW</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Site Icons -->
  <link rel="shortcut icon" href="assets/images/pragati-mahila-samaste-high-resolution-logo-color-on-transparent-background.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="assets/images/pragati-mahila-samaste-high-resolution-logo-color-on-transparent-background.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- Site CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- Responsive CSS -->
  <link rel="stylesheet" href="assets/css/responsive.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">

  <!--[if lt IE 9]>
      <script src="assets/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="assets/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <!-- Start Main Top -->
  <header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
      <div class="container">
        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/index-kn"><img src="../assets/images/pragati-mahila-samaste-high-resolution-logo-color-on-transparent-background.png" alt="" style="width: 150px;"></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="nav-item"><a class="nav-link" href="/kn">ಹೋಂ</a></li>
            <li class="nav-item"><a class="nav-link" href="/about-kn">ನಮ್ಮ ಬಗ್ಗೆ</a></li>
            <li class="dropdown active">
              <a href="/shop-kn" class="nav-link dropdown-toggle arrow">ಅಂಗಡಿ</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
          <ul>
            <!-- <li class="search"><a href="#"><i class="fa fa-search"></i></a></li> -->
            <li class="side-menu"><a href="/get-cart-kn">
                <i class="fa fa-shopping-bag"></i>
                <span class="badge">3</span>
                <p>ಕಾರ್ಟ್</p>
              </a></li>
            <li>
              <% if(sgdata === "ಲಾಗ್ ಔಟ್") { %>
              <a href="/logout-kn" id="sign-in"><%= sgdata %></a>
              <% } else { %>
              <a href="/signin-kn" id="sign-in">ಸೈನ್ ಇನ್</a>
              <% } %>
            </li>
            <li>
              <a href="/farmer-account-en">View in English</a>
            </li>
          </ul>
        </div>
        <!-- End Atribute Navigation -->
      </div>

    </nav>
    <!-- End Navigation -->
  </header>
  <!-- End Main Top -->

  <!-- Start Top Search -->
  <div class="top-search">
    <div class="container">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
      </div>
    </div>
  </div>
  <!-- End Top Search -->

  <!-- Start All Title Box -->
  <div class="all-title-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>ನನ್ನ ಅಕೌಂಟ್</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">ಅಂಗಡಿ</a></li>
            <li class="breadcrumb-item active">ನನ್ನ ಅಕೌಂಟ್</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End All Title Box -->

  <div style="height: 670px; background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">

          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
              <div class="mt-3 mb-4">
                <img src="assets/images/about-img.jpg" class="rounded-circle img-fluid" style="width: 100px;" />
              </div>
              <name class="mb-2">
              </name>
              <p class="text-muted mb-4">@ರೈತ<span class="mx-2">|</span>
                <email></email>
              </p>
              <form action="/list-prod-kn" method="GET">
                <button type="submit" class="btn btn-primary btn-rounded btn-lg">
                  List Products
                </button>
              </form>
              <br>
              <form action="#" method="GET">
                <button type="submit" class="btn btn-primary btn-rounded btn-lg">
                  Listed Products
                </button>
              </form>
              <div class="d-flex justify-content-between text-center mt-5 mb-2">
                <div>
                  <address class="mb-2 h5"></address>
                  <p class="text-muted mb-0">ವಿಳಾಸ</p>
                </div>
                <div class="px-3">
                  <city class="mb-2 h5"></city>
                  <p class="text-muted mb-0">ನಗರ</p>
                </div>
                <div>
                  <pincode class="mb-2 h5"></pincode>
                  <p class="text-muted mb-0">ಪಿನ್ ಕೋಡ್</p>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- ALL JS FILES -->
  <script>
    fetch('/profile-kn').then(res => res.json()).then(html => {
      document.querySelector('name').innerHTML = html.firstname;
      console.log(html);
      document.querySelector('email').innerHTML = html.user_email;
      document.querySelector('city').innerHTML = html.city;
      document.querySelector('address').innerHTML = html.address;
      document.querySelector('pincode').innerHTML = html.pincode;
    });
  </script>
  <!-- <script>
    function signIn() {
      var button = document.getElementById('sign-in');
      fetch()
      button.textContent = 'Logout';
      button.onclick = signOut;
    }

    function signOut() {
      // Perform sign-out logic here
      fetch('/logout').then(res => res.text()).then(err => {
        console.log(err);
      });
      // Update the button text and function
      var button = document.getElementById('sign-in');
      button.textContent = 'Sign In';
      button.onclick = signIn;
    }
  </script> -->
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- ALL PLUGINS -->
  <script src="assets/js/jquery.superslides.min.js"></script>
  <script src="assets/js/bootstrap-select.js"></script>
  <script src="assets/js/inewsticker.js"></script>
  <script src="assets/js/bootsnav.js."></script>
  <script src="assets/js/images-loded.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/baguetteBox.min.js"></script>
  <script src="assets/js/form-validator.min.js"></script>
  <script src="assets/js/contact-form-script.js"></script>
  <script src="assets/js/custom.js"></script>
</body>

</html>